name: build-alpine-musl
on: [push]

jobs:
  build-alpine:
    # 依然运行在 ubuntu 宿主机上，但我们在容器内执行步骤
    runs-on: ubuntu-latest
    container:
      image: alpine:latest # 使用 Alpine 镜像确保 musl 环境
    
    steps:
      - name: Install dependencies
        run: |
          apk update
          # 安装对应的 Alpine 开发库
          apk add g++ git cmake nodejs pkgconf fmt-dev lzo-dev zstd-dev zlib-dev make openssl-dev krb5-dev linux-headers

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Debug
        run: |
          mkdir -p debug-work
          cmake -DCMAKE_BUILD_TYPE=Debug \
            -DCMAKE_INSTALL_PREFIX=${PWD}/install/debug \
            -DWITH_OPENSSL=ON -DENABLE_KRB5=ON \
            -S . -B debug-work
          cmake --build debug-work --parallel $(nproc)
          cmake --install debug-work

      - name: Build Release
        run: |
          mkdir -p release-work
          cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo \
            -DCMAKE_INSTALL_PREFIX=${PWD}/install \
            -DWITH_OPENSSL=ON -DENABLE_KRB5=ON \
            -S . -B release-work
          cmake --build release-work --parallel $(nproc)
          cmake --install release-work

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ntfs2btrfs-alpine-${{ github.sha }}
          path: install
